* {
    margin: 0;
}

header {
    background: rgb(135, 181, 197);
    height: 15vh;
}

main {
    background: rgb(160, 0, 60);
    height: 25vh;
    margin-bottom: 10px;
}

div {
    width: 100%;
}

div > section {
    float: right;
    width: 80%;
    height: 15vh;
    background: rgb(160, 0, 60);
    margin: 5px 200px 20px 0px;
}

footer {
    clear: both;
    background: rgb(160, 0, 60);
    height: 8vh;
    margin: 0 30px 10px 30px;
}